@font-face {
    font-family: 'outfit';
    src: url(Outfit/Outfit-VariableFont_wght.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: outfit;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(217, 54%, 11%);

}

picture img{
    width: 100%;
    border-radius: 10px;
}


.main-card{
    border-radius: 20px;
    max-width: 370px;
    min-width: ;
    background: hsl(216, 50%, 16%);
    padding: 25px;
    /* margin-bottom: 50px; */

}
.avatar img{
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
}
h2{
    color: white;
    padding: 25px 0;
    font-size: 1.6rem;
}
.reduce{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 1.15rem;
    line-height: 30px;
}
hr{
    border-color: hsl(215, 51%, 70%);
}
.color{
    color: hsl(215, 51%, 70%);
    font-size: 1.25rem;
}

.section-1{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-1 .left p{
    margin-left: 20px;
    color: hsl(178, 100%, 50%);
}

.section-1 .left{
    font-size:1.25rem ;
    position: relative;
}
.section-1 .left::before{
    content: url(images/icon-ethereum.svg);
    position: absolute;
    left: px;

}
.avatar{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}
.avatar span{
    color: rgb(241, 232, 232);
}

@media only screen and (min-width: 1024px){

        .main-card{
            max-width: 350px;
        }


}